extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		h2: a(href='/blog/post/' + post.slug)= post.title
		p.lead.text-muted.text-left 
			if post.publishedDate
				| on #{post._.publishedDate.format('MMMM Do, YYYY')} 
			if post.categories && post.categories.length
				| in 
				each cat, i in post.categories
					a(href='/blog/' + cat.key)= cat.name
					if i < post.categories.length - 1
						| , 
					else
						|  
			if post.author
				| by #{post.author.name.first}
		if post.image.exists
			img(src=post._.image.fit(160,160)).img.pull-right
		p!= post.content.brief
		if post.content.extended
			p.read-more.text-left: a(href='/blog/post/' + post.slug) Read more...

block intro
	.container
		

block content

	.upper
		.header

			a.logo(href='javascript:void(0)')
				img(src='images/logo.png', alt='uplift', title='uplift')
			.right
				nav.upper-nav
					ul
						li
							a(href='javascript:void(0)') Challenges
						li
							a(href='javascript:void(0)') Pricing
						li.dropdown
							a(href='javascript:void(0)') Resources
							ul
								li
									a(href='javascript:void(0)') Submenu
								li
									a(href='javascript:void(0)') Submenu Submenu
								li
									a(href='javascript:void(0)') Submenu Submenu Submenu
						li.dropdown
							a(href='javascript:void(0)') More
							ul
								li
									a(href='javascript:void(0)') Submenu
								li
									a(href='javascript:void(0)') Submenu Submenu
								li
									a(href='javascript:void(0)') Submenu Submenu Submenu

				a.evaluate(href='javascript:void(0)') Free evaluation


	.blog-wrap
		.blog
			.blog-row
				.blog-offset
					.blog-columns
						.blog-left
							.wrap
								block left
									ul.blog-posts
										each value in Array(3)
											li.blog-post
												a.title(href='javascript:void(0)') Nusce eget justo a ex tincidunt condimentum ac sit amet tellus. 
												a(href='javascript:void(0)')
													img.main-image(src='images/mark.png', alt='title')
												.info
													| By 
													a(href='javascript:void(0)') Andy Hunt
													|  in 
													a(href='javascript:void(0)') Mobil
													|  on January 24th
												.intro Nusce eget justo a ex tincidunt condimentum ac sit amet tellus. Crashtion bibendum aliquet dui vitae bibendum. Vivamus tincidunt vel elit sit amet varius. Phasellus non metus convallis diam rutrum iaculis. Nullam dictum convallis massa, eget eleifend massa tempus at. Fusce rhoncus rhoncus bibendum. Nam dolor mauris, tincidunt mattis quam ut, blandit blandit 
												a.moar(href='javascript:void(0)') continue reading

							.pagination
								a.pg-button(href='javascript:void(0)')
									span.left
									| Prev
								a.pg-button.disabled(href='javascript:void(0)')
									| Next
									span.right

						.blog-right
							.wrap
								block right
									.join
										h2.title Join our Community
										.info Become a CRO expert! Sing up for e-mail updates, industry research, and more good ol' geekery.
									.explore
										.title Explore Content
										ul.categories
											li.active
												a(href='') All categories
											li
												a(href='') E-Commerce
											li
												a(href='') Mobil
											li
												a(href='') Praesent 
											li
												a(href='') Bibendum 
											li
												a(href='') Magna
											li
												a(href='') Mauris
