extends ../layouts/default

block unique-seo-meta
	link(rel="canonical", href="http://upliftroi.com/blog/" )
	meta(property="og:locale", content="en_US" )
	meta(property="og:type", content="article" )
	meta(property="og:title", content="Conversion Rate Optimization Blog | UpliftROI" )
	meta(property="og:url", content="http://upliftroi.com/blog/" )
	meta(property="og:site_name", content="Uplift" )
	meta(property="og:image", content="http://upliftroi.com/wp-content/uploads/2014/04/blog-header.png" )

mixin post(post)
	li.blog-post
		.date
			.label #{post._.publishedDate.format('MMMM Do, YYYY')}
			div(style="clear:both")
		a.title(href='/blog/post/' + post.slug)= post.title
		a(href='javascript:void(0)')
			img.main-image(src=post._.image.fit())
		.info
			| By
			a(href='javascript:void(0)')  #{post.author.name.first} #{post.author.name.last}
			if post.categories && post.categories.length
				|	in
				each cat, i in post.categories
					a(href='/blog/' + cat.key)= cat.name
					if i < post.categories.length - 1
						| ,
					else
		.intro!= post.content.brief
		a.moar(href='/blog/post/' + post.slug) continue reading

block content

	include nav-blue-default.jade

	.blog-wrap
		.blog
			.blog-row
				.blog-offset
					.blog-columns
						.blog-left
							.wrap
								block left
									ul.blog-posts
										if filters.category && !data.category
											h3.text-muted Invalid Category.
										else
											if data.posts.results.length
												each post in data.posts.results
													+post(post)

							.pagination
								a.pg-button(href='javascript:void(0)')
									span.left
									| Prev
								a.pg-button.disabled(href='javascript:void(0)')
									| Next
									span.right

						.blog-right
							.wrap
								block right
									.join
										h2.title Join our Community
										.info Become a CRO expert! Sign up for e-mail updates & conversion tips.
											//- Mailchimp
											include mailchimp.jade
									.explore
										.title Explore Content

										if data.categories.length
										ul.categories
											li(class=!data.category ? 'active' : false)
												a(href='/blog') All categories
											each cat in data.categories
												li(class=data.category && data.category.id == cat.id ? 'active' : false)
													a(href='/blog/' + cat.key)= cat.name
