extends ../layouts/default


mixin generatePostSEO(post)
	link(rel="canonical", href="http://upliftroi.com/blog/post/" + post.slug )
	meta(property="og:locale", content="en_US" )
	meta(property="og:type", content="article" )
	meta(property="og:title", content=post.title )
	meta(property="og:description", content=post.content.briefAsText )
	meta(property="og:url", content="http://upliftroi.com/blog/post/" + post.slug )
	meta(property="og:site_name", content="Uplift" )
	if post.categories.length > 0
		meta(property="article:section", content=post.categories[0].key )
	meta(property="article:published_time", content=post._.publishedDate.moment().toISOString() )
	meta(property="article:modified_time", content=post._.updatedAt.moment().toISOString() )
	meta(property="og:updated_time", content=post._.updatedAt.moment().toISOString() )

mixin post(post)
	li.blog-post
		a.title(href='/blog/post/' + post.slug)= post.title
		a(href='javascript:void(0)')
			img.main-image(src=post._.image.fit())
		.info
			| By<span> </span>
			a(href='javascript:void(0)') #{post.author.name.first} #{post.author.name.last}
			if post.categories && post.categories.length
				|	in<span> </span>
				each cat, i in post.categories
					a(href='/blog/' + cat.key)= cat.name
					if i < post.categories.length - 1
						| ,
					else
						|<span> </span>
			|	on #{post._.publishedDate.format('MMMM Do, YYYY')}
		.intro!= post.content.full

		script(type="text/javascript") var disqus_shortname = 'upliftroi'; (function() { var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true; dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js'; (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); })();
		noscript
			| Please enable JavaScript to view the
			a(href="https://disqus.com/?ref_noscript", rel="nofollow") comments powered by Disqus.
		#disqus_thread(style="padding:30px;padding-bottom:0px;")

block unique-seo-meta
	+generatePostSEO(data.post)



block content

	include nav-blue-default.jade

	.blog-wrap
			.blog
				.blog-row
					.blog-offset
						.blog-columns
							.blog-left
								.wrap
									block left
										ul.blog-posts
											+post(data.post)
							.blog-right
								.wrap
									block right
										.join
											h2.title Join our Community
											.info Become a CRO expert! Sign up for e-mail updates, industry research, and more good ol' geekery.
											//- Mailchimp
											include mailchimp.jade

									.explore
										.title Explore Content
										if data.post.categories.length
										ul.categories
											li(class=!data.post.category ? 'active' : false)
												a(href='/blog') All categories
											each cat in data.categories
												li(class=data.post.category && data.post.category.id == cat.id ? 'active' : false)
													a(href='/blog/' + cat.key)= cat.name
